#root {
    min-height: 100%;
}

#root > section {
    min-height: 100%;
}

.site-layout-content {
    margin: 25px 0px;
    min-height: calc(100vh - 115px);
    padding: 25px;
    background: #fff;
}

#visualization svg {
    height: calc(100vh - 220px);
    width: calc(100vh - 220px);
}


#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}